.teamSection {
  padding: 2rem 0; 
}


.sectionTitle {
  text-align: center;
  font-size: 2rem;
  color: var(--dark-color);
  margin-bottom: 2rem;
}

.teamGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}
